//font-family

$Sans: 'PT Sans', sans-serif;

// Font-size

$smallerSize: 12px;

$smallSize: 14px;

$mediumSize: 15px;
$mmSize: 16px;
$largeSize: 17px;

$largerSize:20px;
$xLargeSize: 24px;

// color

$white: white;

$black: black;

$darkCyan:#2f4960;

$lightBlue:#bce1ff;

$blue: #2986c2;
$linkBlue: #1392d7;
$darkBlue: #037cbe;

$gray: #727272;